section p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    color: #8C9E8F;
}

.contenedor {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.columna {
    padding-left: 2%;
    width: 100%;
    border: 2px solid black;
}

#izquierda {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    color: #8C9E8F;
}

#derecha {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    color: #8C9E8F;
    margin-left: 5%;
}

#contacta {
    margin-left: 72%;
    color: white;
    border: 3px solid #707070;
    background-color: #2A2789;
    text-align: center;
    width: 20%;
    padding: 1%;
    cursor: pointer;
}

.centro {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    color: #8C9E8F;
    border: 2px solid black;
    text-align: center;
    width: 70%;
    padding-bottom: 0.5%;
    margin-top: 3%;
    margin-left: 15%;
    margin-bottom: 5%;
}

@media screen and (max-width: 800px) {
    .columna {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .columna {
        flex: 100%;
        max-width: 100%;
    }
}