@font-face {
    font-family: "Constantia";
    src: url("Text\ Fonts/Constantia Bold Italic.ttf");
}

@font-face {
    font-family: "Modern No. 20";
    src: url("Text\ Fonts/Modern No. 20.ttf");
}

@font-face {
    font-family: "Corbel";
    src: url("Text\ Fonts/Corbel.ttf");
}

a {
    text-decoration: none;
    color: white;
}

a li {
    color: white;
}

body {
    background-color: #222222;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    height: 175px;
}

#logo {
    margin-top: 10px;
    float: left;
    width: 300px;
    height: 125px;
}

#titulo {
    margin-top: 0;
    margin-left: 350px;
    color: #41E868;
    font-size: 125px;
    font-family: "Constantia";
    -webkit-text-stroke: 3px #3F48CC;
}

#busqueda {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    margin: 55px 20px 0px 15px;
    background-color: blue;
    font-size: 20px;
    font-family: "Modern No. 20";
    color: white;
    border-color: white;
    border-style: solid;
}

nav {
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: blue;
    outline: 1px solid #707070;
    width: 85%;
    margin: auto;
}

nav ul {
    padding-left: 5px;
    list-style-type: none;
    text-align: center;
}

nav li {
    padding: 0 10px;
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    -webkit-text-stroke: 3.5px white;
}

nav li.separador {
    border-right-color: #707070;
    border-right-style: solid;
}

section {
    margin-left: 5%;
    margin-right: 5%;
}

h3 {
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    color: #FFFFFF;
    -webkit-text-stroke: 2.5px #00FF2B;
}

footer {
    margin-top: 10px;
    border-top: 1px dashed white;
    font-size: 30px;
    font-family: "Modern No. 20";
    color: white;
}

footer li {
    padding: 0 10px;
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
}

footer li.separador {
    border-right-color: white;
    border-right-style: solid;
}

#logo2 {
    vertical-align: middle;
    float: right;
    width: 250px;
    height: 100px;
}

#copyright {
    clear: both;
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;
    margin: 15px auto;
    width: 46%;
}